body{
    background-color: lightgrey;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 80px
}
h3{
    text-align: center;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif
}
h4{
    text-align: center;
    font-family:cursive
}

.page {
    display: flex;
    align-items: flex-start;
    font-family:'Times New Roman', Times, serif
}

.content {
    flex: 1;
    padding: 20px;
}

.image-column {
    width: 300px;
    padding: 20px;
}

.image-column img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
}
.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 ratio */
    margin-top: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
